[submodule "VGGT"]
	path = VGGT
	url = https://github.com/losterberg3/VGGT.git
[submodule "ORB"]
	path = ORB
	url = https://github.com/losterberg3/ORB.git
[submodule "openvins"]
	path = openvins
	url = https://github.com/nolantopper/open_vins.git
